textarea.u-form-control.md.textareaStyle {
  height: 80px;
}

.ac-form-layout-item .u-label + * {
  height: auto;
}
.grid-file-edit {
  .u-panel .u-panel-body{
    padding: 0 !important;
  }
  .u-panel-body{

  }

}